h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


.header {
    background-color: #FAFAFA;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 31px;
}

/* .header-nav-item:not(:last-child) {
    margin-right: 31px;
} */



.header-logo {
    margin-right: 433px;
    margin-left: 80px;

    font-family: 'Homemade Apple', sans-serif;
    font-size: 18px;
    line-height: 2;
}

.header-button {
    margin-left: auto;
    margin-right: 34px;
    padding: 8px 22px;
    border-radius: 5px;
    border: 1px solid #F7941E;

    color: #F7941E;
    background-color: transparent;
    text-transform: uppercase;
}

.header-nav-link {
    display: inline-block;
    padding: 47px 0;
}

/* Hero */

.hero {
    background-color: #F1F1F2;
}

.container {}

.hero-container {
    display: flex;
}

.content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrap {
    width: 433px;

}

.hero-title {
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.17;
}

.hero-text {
    margin-bottom: 60px;

    font-size: 20px;
    line-height: 1.4;

}

.hero-button {
    padding: 19px 25px;
    background-color: #F7941E; 
    border-radius: 5px;
    border: none;

    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    text-transform: uppercase;
}

/* About */

.about {
    background-color: #F1F1F2;
}

.container {}

.about-container {
    display: flex;
}

.content {}

.content-wrap {}

.about-title {
    margin-bottom: 23px;

    font-size: 32px;
    line-height: 1.41;
}

.about-text {
    margin-bottom: 35px;

    font-size: 20px;
    line-height: 1.4;
}

.about-link {
    display: inline-block;
    padding: 19px 25px;
    border-radius: 5px;
    border:  1px solid #F7941E;

    color: #F7941E;
    text-transform: uppercase;

    font-size: 18px;
    line-height: 1.33;
}

